In [6]:
my_list1 = [1,2,3,4]

In [7]:
my_list2 = my_list1
print(my_list2)

[1, 2, 3, 4]

In [15]:
my_list3 = [1,2,3,4,5]

In [13]:
my_list4 = list(my_list3)

In [16]:
print (my_list4)

[1, 2, 3, 4]

In [19]:
my_dict = {
    'name' : "오",
    'age' : '26'
}
print (my_dict)

{'name': '오', 'age': '26'}

In [20]:
print(my_dict['age'])

26

In [21]:
my_dict['email'] = 'r'
print(my_dict)

{'name': '오', 'age': '26', 'email': 'r'}

In [22]:
import pandas as pd
import numpy as np

In [24]:
s = pd.Series([1,2,3,np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [26]:
dates = pd.date_range('20200928', periods=10)
dates

DatetimeIndex(['2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
               '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
               '2020-10-06', '2020-10-07'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.rand(5,4),
                 index = [1,2,3,4,5],
                 columns= ['A','B','C','D'])
df

          A         B         C         D
1  0.899798  0.307377  0.772521  0.015970
2  0.758471  0.761933  0.084287  0.777201
3  0.112883  0.830154  0.651146  0.935405
4  0.274351  0.751563  0.614050  0.631593
5  0.379766  0.364840  0.768432  0.133811

In [33]:
df[['A','C']]

          A         C
1  0.899798  0.772521
2  0.758471  0.084287
3  0.112883  0.651146
4  0.274351  0.614050
5  0.379766  0.768432

In [34]:
column_names = ['A','D']
df[column_names]

          A         D
1  0.899798  0.015970
2  0.758471  0.777201
3  0.112883  0.935405
4  0.274351  0.631593
5  0.379766  0.133811

In [35]:
df.loc[3]

A    0.112883
B    0.830154
C    0.651146
D    0.935405
Name: 3, dtype: float64

In [41]:
df.loc[2:3, ['A','C']]

          A         C
2  0.758471  0.084287
3  0.112883  0.651146

In [49]:
df[ df['B'] > 0.5]

          A         B         C         D
2  0.758471  0.761933  0.084287  0.777201
3  0.112883  0.830154  0.651146  0.935405
4  0.274351  0.751563  0.614050  0.631593

In [50]:
df[ df< 0.3]

          A   B         C         D
1       NaN NaN       NaN  0.015970
2       NaN NaN  0.084287       NaN
3  0.112883 NaN       NaN       NaN
4  0.274351 NaN       NaN       NaN
5       NaN NaN       NaN  0.133811

In [57]:
 df.loc[df['B'] > 0.5 ,['A','D']]

          A         D
2  0.758471  0.777201
3  0.112883  0.935405
4  0.274351  0.631593